<h2 class="nova-vaga">Nova Vaga</h2>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<%= form_for @job do |f|%>
  <div class="">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title%>
  </div>

  <div class="">
    <%= f.label :location, "Local" %>
    <%= f.text_field :location%>
  </div>

  <div class="">
    <%= f.label :category_id, "Categoria" %>
    <%= f.collection_select(:category_id, @categories, :id, :name)%>
  </div>

  <div class="">
    <%= f.label :company_id, "Empresa" %>
    <%= f.collection_select(:company_id, @companies, :id, :name) %>

  </div>

  <div class="">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description%>
  </div>

  <div class="">
    <%= f.label :featured, "Destaque" %>
    <%= f.check_box :featured %>
  </div>

  <div class="">
    <%= f.submit "Criar Vaga" %>
  </div>


<% end %>
